<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
{{#logged_in}}

<div class="container">
<h2 class="center-align">Welcome {{name}}</h2>
<div class="divider"></div>
<h3 class="center-align">What do you want to achieve today?</h3>
<div class="divider"></div>

<h4 class="center-align">Add ToDo</h4>
<form id="addToDo" method="post" data-id="{{todo.id}}">
  <input text="text" id="input-field" value="{{todo}}"><br>
  <button type="submit" class="btn btn-primary">Save</button>

</form>
</br>
</br>

<ul id="todo-list">
</ul>
<div id="new-list">
  {{#data}}
    <div>
      <h5>{{info}}</h5>
      </br>
      <button class="btn btn-primary delete-button" name="{{id}}" id="delete">Delete</button>
      <button class="btn btn-primary done-button" name="{{id}}" id="done">Done</button>
    </div>
      </br>
  {{/data}}
</div>

</div>
<a href='/logout'>Logout</a>
{{/logged_in}}



{{^logged_in}}
<h2>Log in</h2>

<div class='row'>
<form action="/login" method="post" class='col s12'>

      <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
            </div>
      </div>
      <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
  </fieldset>
</form>
</div>

<p>Not a member? <a href="/signup">Sign Up!</a></p>


{{/logged_in}}




</body>
</html>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
